* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #FDFDFD;
  color: #111;
}

nav {
  background-color: #DDD;
  width: 100%;
  display: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  color: inherit;
}

nav a:hover {
  background-color: #CCC;
}

header {
  background-color: #CCC;
  width: 100%;
  padding: 2rem;
}

#content-wrapper {
  padding: 0.5rem 2rem;
}

video {
  object-position: center;
  width: 100%;
  margin: 2rem 0;
}

#recomended-instruments-table {
  border-top: solid 2px #111;
  border-left: solid 2px #111;
  margin: auto;
  text-align: left;
  border-spacing: 0;
}

#recomended-instruments-table caption {
  font-size: 2rem;
  margin: 1rem;
}

#recomended-instruments-table th,td {
  border-bottom: solid 2px #111;
  border-right: solid 2px #111;
  padding: 5px;
}

#contact-list {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
